{%extends "base.html"%}

{%block content%}
    <h1>Welcome to Rock Paper Scissors!</h1>
    <p>Please input your choices into the url bar.</p>
    <p>Player 1 is first, Player 2 is second</p>
    <p>For example</p>
    <p>/rock/scissors</p>
    <p>Player 1 wins</p>
    <hr>

    <h2>Choose Your Fighter</h2>

    <div class="rps_container">
        <ul class="rock_text">
            <li><h3>Rock</h3></li>
            <li>Rock "The Rock" Rockson</li>
        </ul>
        <ul class="paper_text">
            <li><h3>Paper</h3></li>
            <li>Paper "Mashay" MacGregor</li>
        </ul>
        <ul class="scissors_text">
            <li><h3>Scissors</h3></li>
            <li>Scissor "Sisters" Maywether</li>
        </ul>
        <ul class ="rock_img">
            <li><img src="/static/rock.jpg" alt="Rock pics" class="rps_pics"></li>
        </ul>
        <ul class ="paper_img">
            <li><img src="/static/paper.jpg" alt="Paper pics" class="rps_pics"></li>
        </ul>
        <ul class ="scissors_img">
            <li><img src="/static/scissors.jpg" alt="scissors pics" class="rps_pics"></li>
        </ul>
    </div>
{%endblock%}
